* {
  box-sizing: border-box;
}

:root {
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Studio */
/* -------------HEADER------------- */

.header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-up-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
}

.header-list {
  height: 72px;
  gap: 40px;
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.header-nav-link:is(:hover, :focus) {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-adrs-item {
  margin-right: 40px;
}

.header-adrs-item:last-child {
  margin-right: 0;
}

.header-adrs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-adrs-link:is(:hover, :focus) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

/* -----------HERO------------- */

.hero {
  padding: 188px 0;
  background: #2e2f42;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-header {
  font-style: normal;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* margin-bottom: 48px; */
  padding-bottom: 48px;
  /* padding-left: 316px;
  padding-right: 316px; */
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-left: 478px;
  margin-right: 478px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

.hero-button:is(:hover, :focus) {
  background-color: #404bbf;
}

/* -----------SECTION 1------------- */

#section-first {
  padding-bottom: 0;
  padding: 120px 0;
}

.first-list {
  display: flex;
  gap: 24px;
}

.first-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.first-par {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----------SECTION 2------------- */

#section-second {
  padding-bottom: 120;
}

.second-head {
  font-style: normal;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.second-list {
  display: flex;
  gap: 24px;
}

.second-item {
  width: calc((100% - 48px) / 3);
}

.second-img {
  padding: 0px;
  border: 1px solid #e7e9fc;
}

/* -----------SECTION 3------------- */

#section-third {
  background: #f4f4fd;
  padding-top: 120px;
}

.third-list {
  display: flex;
  gap: 24px;
}

.third-head {
  font-style: normal;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.third-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.third-text {
  width: 232px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
}

.third-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.third-par {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----------FOOTER------------- */

.footer {
  background: #2e2f42;
  height: 312px;
  padding: 100px 0;
  margin: 0 auto;
}

.footer-div {
  height: 112px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-down-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-par {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
}

/* Portfolio */
/* -----------FILTER------------- */

.filter {
  padding: 96px 0 120px;
}

.filter-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

.filter-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}

.filter-item:is(:hover, :focus) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
}

/* -----------PROJECTS------------- */

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  column-gap: 24px;
  row-gap: 48px;
}

.project-item {
  width: calc((100% - 48px) / 3);
}

.project-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-head {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 64px;
}

/* пример смены цвета при наведении на елемент
.header-link:hover{
    color: blue;
} 
пример смены цвета при зажимании елемента
.header-link:focus{
    color: blue;
}
это же, но компактнее
.header-link:is(:hover, :focus) {
    color: blue;

У рядкових і рядково-блокових елементів є 
правий або, у разі зображень, нижній проміжок. 
Це не margin або padding, а буквально порожнє 
місце - особливість того, як браузер розташовує 
рядковий контент в рядку.

Проміжок рядкових елементів
Величина цього проміжку визначається розміром 
тексту найближчого предка з явно встановленим 
значенням або, якщо такий предок відсутній, 
використовується розмір шрифту браузера за 
замовчуванням - 16px. Тому у кнопок, посилань, 
спанів, полів введення та інших рядкових 
елементів за замовчуванням буде проміжок 
4px - 1/4 розміру шрифту найближчого предка.
*/
